@font-face {
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-family: "W95FA";
  src: local("W95FA"),
    url("https://fonts.cdnfonts.com/s/45697/W95FA.woff") format("woff");
}

body {
  font-family: "W95FA", system-ui;
  font-style: normal;
  background-color: #1f2e34;
  background-image: url(/images/yas.gif);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

* {
  box-sizing: border-box;
  cursor: url(https://cur.cursors-4u.net/games/gam-14/gam1379.ani),
    url(https://cur.cursors-4u.net/games/gam-14/gam1379.png), auto !important;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  width: 100%;
  height: 150px;
  background-size: 100%;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.8%;
}

.header img {
  max-width: 100%;
  height: auto;
}

.navbar {
  height: 40px;
  background-color: #13092d;
  width: 100%;
}

.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

.navbar li {
  padding-top: 0;
}

.navbar li a {
  color: #f5c764;
  font-weight: 800;
  text-decoration: none;
}

.navbar li a:hover {
  color: #a49cba;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  gap: 2.5%;
}

.sidebar {
  background-color: #1f2e34;
  width: 18%;
  height: 76vh;
  border-image-slice: 27 27 27 27;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/images/border.png");
  border-style: solid;
  padding: 1%;
  margin-bottom: 3%;
  text-align: center;
}

.main-content {
  overflow: scroll;
  background-color: #1f2e34;
  flex: 1;
  width: 70%;
  height: 68vh;
  padding: 20px;
  order: 2;
  text-align: center;
  font-size: 180%;
  border: 3px outset #a1a1a1;
  margin-top: -1%;
  overflow-x: hidden;
}

.sidebar-left {
  order: 1;
}

.sidebar-right {
  order: 3;
}

.footer {
  background-color: #13092d;
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
}

.top-bar {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: smaller;
  background-color: #13092d;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 200, 0);
  background-color: transparent;
  text-decoration: underline;
}

.ps-note {
  margin-top: 20px;
  font-size: large;
}

audio {
  visibility: hidden;
  position: absolute;
}

  .text-container p {
    font-size: smaller;
  }

@media only screen and (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
    gap: 15px;
  }

  .sidebar,
  .main-content {
    width: 100%;
    margin: 0;
  }

  .sidebar {
    height: auto;
    min-height: 100px;
  }

  .main-content {
    order: 1;
    height: auto;
    min-height: 400px;
    font-size: 120%;
  }

  .sidebar-left {
    order: 2;
  }

  .sidebar-right {
    order: 3;
    height: 300px;
  }

  .navbar ul {
    flex-wrap: wrap;
  }

  .text-container p {
    font-size: x-large;
    line-height: 1.5;
  }

  .ps-note {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 100px;
    margin-top: 5%;
  }

  .main-content {
    font-size: 100%;
    padding: 10px;
  }

  .text-container p {
    font-size: larger;
  }

  .ps-note {
    font-size: 0.4em;
  }
}

.image-gallery {
  width: 100%;
  padding: 10px;
}

.image-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.image-item {
  width: 32%;
}

.image-item img {
  width: 100%;
  height: auto;
  border: 2px solid #a1a1a1;
  display: block;
}

@media (max-width: 768px) {
  .image-item {
    width: 48% !important;
  }

  .image-row {
    gap: 8px;
  }
}

@media (max-width: 480px) {
  .image-item {
    width: 48% !important;
  }

  .image-row {
    gap: 6px;
  }

  .image-gallery {
    padding: 5px;
  }
}

.git-receipt {
  height: 80vh;
  overflow: hidden;
}

.git-receipt iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video-container {
  display: inline-block;
  cursor: default;
  max-width: 100%;
  width: 100%;
}

.video-container video {
  pointer-events: none;
  width: 100%;
  height: auto;
  max-width: 1210px;
  max-height: 681px;
}

body *::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: none;
}

body *::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: silver;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: silver #000 #000 silver;
}

body::-webkit-scrollbar {
  display: none;
}

body *::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}

body *::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 16px;
}

body *::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-corner {
  background: silver;
}
