@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --header-image: url('https://sadhost.neocities.org/images/layouts/wp.jpeg');
  --body-bg-image: url('https://sadhost.neocities.org/images/tiles/purplesky.gif');
  --content: #43256E;
}

body {
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  margin: 0;
  background-color: #1F2E34;
  background-image: url(images/yas.gif);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
  cursor: url(https://cur.cursors-4u.net/games/gam-14/gam1379.ani), url(https://cur.cursors-4u.net/games/gam-14/gam1379.png), auto !important;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 150px;
  background-size: 100%;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.8%;
}

#navbar {
  height: 40px;
  background-color: #13092D;
  width: 100%;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

#navbar li {
  padding-top: 0;
}

#navbar li a {
  color: #ED64F5;
  font-weight: 800;
  text-decoration: none;
}

#navbar li a:hover {
  color: #a49cba;
  text-decoration: underline;
}

#flex {
  display: flex;
}

aside {
  background-color: #1F2E34;
  width: 15%;
  height: 76vh;
  border-image-slice: 27 27 27 27;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("https://xxxmachinegirlxxx.neocities.org/border.png");
  border-style: solid;
  padding: 1%;
  margin-bottom: 3%;
  text-align: center;
}

main {
  overflow: scroll;
  background-color: #1F2E34;
  flex: 1;
  width: 70%;
  height: 68vh;
  padding: 20px;
  order: 2;
  text-align: center;
  font-size: 180%;
  border: 3px outset #A1A1A1;
  margin-top: -1%;
  overflow-x: hidden;
}

#leftSidebar {
  order: 1;
}

#rightSidebar {
  order: 3;
}

footer {
  background-color: #13092D;
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
}

#topBar {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: smaller;
  background-color: #13092D;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: small;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  #flex {
    flex-wrap: wrap;
  }

  aside {
    width: 100%;
  }

  main {
    order: 1;
  }

  #leftSidebar {
    order: 2;
  }

  #rightSidebar {
    order: 3;
  }

  #navbar ul {
    flex-wrap: wrap;
  }
}

.ps-note {
  margin-top: 20px;
  font-size: 0.3em;
}